#Weekly Project 22
###IMDB Celebrities Scraper with Multiprocessing

1) Importing all necessary libraries

In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
from tqdm import tqdm
import time
import multiprocessing

2) Function to scrap the data from the website.

In [2]:
def scrap(l,n):
    
    global data
    data = []
    
    for pages in tqdm(range(1,11)):
        
        res  = requests.get(l)
        soup = BeautifulSoup(res.content, 'html.parser')
        
        for i in soup.find('div', class_='lister-list').find_all('div', class_='lister-item mode-detail'):
            
            try:
                rank = i.find('h3', class_='lister-item-header').find('span', class_='lister-item-index unbold text-primary').text.split('.')[0].strip()
            except:
                rank = np.nan
    
            try:
                actor_id = i.find_all('a')[1].get('href').split('/')[-1].strip()
            except:
                actor_id = np.nan
    
            try:
                name = i.find_all('a')[1].text.strip()
            except:
                name = np.nan
    
            try:
                img_link = i.find('a').find('img').get('src').strip()
            except:
                img_link = np.nan
    
            try:
                exp = i.find('p').text.split(' ')[25].strip()
            except:
                exp = np.nan
    
            try:
                work = i.find('p').find('a').text.strip() + ' (' + i.find('p').find('a').get('href').split('/')[-2].strip() + ')'
            except:
                work = np.nan
    
            data.append([rank, actor_id, name, img_link, exp, work])
    
        l = 'https://www.imdb.com' + soup.find('a', class_='lister-page-next next-page').get('href').strip()

    global df
    df = pd.DataFrame(data, columns = ['Rank', 'Actor_ID', 'Name', 'Img_link', 'Experince', 'Work'])
    df.to_csv('/content/drive/MyDrive/Colab Notebooks/' + n + '.csv', index = False)

3) Using multiprocessing for scrapping the data

In [3]:
p1 = multiprocessing.Process(target = scrap , args = ('https://www.imdb.com/search/name/?match_all=true&ref_=nv_cel_m', '1-10', ))
p2 = multiprocessing.Process(target = scrap , args = ('https://www.imdb.com/search/name/?match_all=true&start=501&ref_=rlm', '11-20', ))

p1.start()
p2.start()

p1.join()
p2.join()

100%|██████████| 10/10 [00:10<00:00,  1.07s/it]
100%|██████████| 10/10 [00:16<00:00,  1.62s/it]

4) Combining the two dataframes

In [5]:
df_1 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/1-10.csv')
df_2 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/11-20.csv')

In [6]:
df_1

,Rank,Actor_ID,Name,Img_link,Experince,Work
0,1,nm0050959,Pedro Pascal,https://m.media-amazon.com/images/M/MV5BMGNlYT...,Actor,The Mandalorian (tt8111088)
1,2,nm8165602,Bella Ramsey,https://m.media-amazon.com/images/M/MV5BMWJkZW...,Actress,Game of Thrones (tt0944947)
2,3,nm0001491,Melanie Lynskey,https://m.media-amazon.com/images/M/MV5BMjIzND...,Actress,Togetherness (tt3061830)
3,4,nm1396022,Anna Torv,https://m.media-amazon.com/images/M/MV5BMzQ0ND...,Actress,Fringe (tt1119644)
4,5,nm4911194,Jenna Ortega,https://m.media-amazon.com/images/M/MV5BNmQ1MD...,Actress,Scream (tt11245972)
...,...,...,...,...,...,...
495,496,nm0278239,Siobhan Finneran,https://m.media-amazon.com/images/M/MV5BNDM2ND...,Actress,Downton Abbey (tt1606375)
496,497,nm4110963,Jack Lowden,https://m.media-amazon.com/images/M/MV5BZTc4Nz...,Actor,Small Axe (tt3464896)
497,498,nm3510471,Sam Claflin,https://m.media-amazon.com/images/M/MV5BMjI3MD...,Actor,The Hunger Games: Catching Fire (tt1951264)
498,499,nm0855039,David Tennant,https://m.media-amazon.com/images/M/MV5BMTEzOT...,Actor,Doctor Who (tt0436992)
499,500,nm5002960,Mace Coronel,https://m.media-amazon.com/images/M/MV5BMzE2NG...,Actor,That '90s Show (tt15591076)

In [7]:
df_2

,Rank,Actor_ID,Name,Img_link,Experince,Work
0,501,nm1658935,Jack Huston,https://m.media-amazon.com/images/M/MV5BYmJhNz...,Actor,Kill Your Darlings (tt1311071)
1,502,nm0005259,Megan Mullally,https://m.media-amazon.com/images/M/MV5BMTQ4OD...,Actress,Will & Grace (tt0157246)
2,503,nm0001401,Angelina Jolie,https://m.media-amazon.com/images/M/MV5BODg3Mz...,Actress,"Girl, Interrupted (tt0172493)"
3,504,nm0001523,Natascha McElhone,https://m.media-amazon.com/images/M/MV5BN2Y2Yz...,Actress,Solaris (tt0307479)
4,505,nm2002649,Dave Franco,https://m.media-amazon.com/images/M/MV5BNzEzMz...,Actor,Neighbors (tt2004420)
...,...,...,...,...,...,...
495,996,nm0000169,Tommy Lee Jones,https://m.media-amazon.com/images/M/MV5BMTkyNj...,Actor,The Fugitive (tt0106977)
496,997,nm0000222,Brooke Shields,https://m.media-amazon.com/images/M/MV5BMzE4OD...,Actress,The Blue Lagoon (tt0080453)
497,998,nm1527905,Toby Kebbell,https://m.media-amazon.com/images/M/MV5BM2EyOD...,Actor,Dawn of the Planet of the Apes (tt2103281)
498,999,nm0837177,Jason Sudeikis,https://m.media-amazon.com/images/M/MV5BMjE3NT...,Actor,Ted Lasso (tt10986410)
499,"1,000",nm0647698,Kaitlin Olson,https://m.media-amazon.com/images/M/MV5BMTMxOD...,Actress,Finding Dory (tt2277860)

In [9]:
final_df = pd.concat([df_1,df_2])

In [10]:
final_df

,Rank,Actor_ID,Name,Img_link,Experince,Work
0,1,nm0050959,Pedro Pascal,https://m.media-amazon.com/images/M/MV5BMGNlYT...,Actor,The Mandalorian (tt8111088)
1,2,nm8165602,Bella Ramsey,https://m.media-amazon.com/images/M/MV5BMWJkZW...,Actress,Game of Thrones (tt0944947)
2,3,nm0001491,Melanie Lynskey,https://m.media-amazon.com/images/M/MV5BMjIzND...,Actress,Togetherness (tt3061830)
3,4,nm1396022,Anna Torv,https://m.media-amazon.com/images/M/MV5BMzQ0ND...,Actress,Fringe (tt1119644)
4,5,nm4911194,Jenna Ortega,https://m.media-amazon.com/images/M/MV5BNmQ1MD...,Actress,Scream (tt11245972)
...,...,...,...,...,...,...
495,996,nm0000169,Tommy Lee Jones,https://m.media-amazon.com/images/M/MV5BMTkyNj...,Actor,The Fugitive (tt0106977)
496,997,nm0000222,Brooke Shields,https://m.media-amazon.com/images/M/MV5BMzE4OD...,Actress,The Blue Lagoon (tt0080453)
497,998,nm1527905,Toby Kebbell,https://m.media-amazon.com/images/M/MV5BM2EyOD...,Actor,Dawn of the Planet of the Apes (tt2103281)
498,999,nm0837177,Jason Sudeikis,https://m.media-amazon.com/images/M/MV5BMjE3NT...,Actor,Ted Lasso (tt10986410)
499,"1,000",nm0647698,Kaitlin Olson,https://m.media-amazon.com/images/M/MV5BMTMxOD...,Actress,Finding Dory (tt2277860)

5) Saving the final csv

In [11]:
final_df.to_csv('Final_DataFrame.csv', index = False)